<ion-header>
  <ion-toolbar class="gradient-header" color="app">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-menu-button><img src="../../../assets/icon/menuicon.svg" style="width: 80%; margin: 0 auto"></ion-menu-button>
        </ion-col>
        <ion-col size="10">
          <ion-title style="margin-left: -10%;" [routerLink]="['/menu']">Appexpress</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h6>Favoritos</h6>
  <ion-list id="lfavoritos" align-items-center>
    <section *ngFor="let item of listaFavoritos">
      <ion-item>
        <ion-col size="3" align-items-center style="width: 75px; height: 75px; max-width: 75px !important; max-height: 75px !important;">
          <ion-img [src]="item[10]" alt="" style="margin: -25% auto !important;" (click)="verDetalle( item[0] )" ></ion-img>
        </ion-col>
        <ion-col size="9" align-items-center>
          <ion-label>{{ item[1]}}</ion-label>
          <ion-label style="color: #929292">{{ item[2] }}</ion-label>
          <ion-label style="display: inline-block; margin-top: 0.5em; color: #000; font-size: 0.9em;">₡ {{ item[3] }}</ion-label>
          <ion-row>
            <ion-col size="6">
              <ion-chip color="danger" align="center" (click)="setfavorito( item[0] )">
                <ion-icon name="heart"></ion-icon>
                <ion-label>Eliminar</ion-label>
              </ion-chip>
            </ion-col>
            <ion-col size="6">
              <ion-chip color="{{item[11] != null ? 'success' : 'dark'}}" align="center"
                (click)="addFteToOrden( item[0] )" id="fte{{ item[0] }}">
                <ion-icon id="ico{{ item[0] }}" name="{{item[11] != null ? 'checkmark' : 'add'}}"></ion-icon>
                <ion-label id="txt{{ item[0] }}">{{item[11] != null ? 'Agregado' : 'Agregar'}}</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-item>
    </section>
  </ion-list>
</ion-content>
