.app {
    background: var(--ion-color-insideapp) !important;
    color: #F8F8F8 !important;
  }
  
  .btnapp{
    background: var(--ion-color-btnapp) !important;
    color: #f8f8f8;
    height: 50px;
  }
  
  // *** ***
  
  .card {
    margin: 15px auto;
    // top: 50px;
    width: 300px;
    height: 188px;
    border-radius: 16px;
    perspective: 1000px;
    transition: transform .5s ease-in;
    z-index: 5;
  }
  .card .shine {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 60%);
    z-index: 5;
  }
  .card .card-bg {
    z-index: 2;
  }
  .card .shadow {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 100%;
    transition: all 0.2s ease-out;
    box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
    z-index: 1;
    border-radius: 16px;
  }
  .card .flipper {
    transition: 0.75s;
    transform-style: preserve-3d;
    position: relative;
    width: 300px;
    height: 188px;
  }
  .card.flipped .flipper {
    transform: rotateY(180deg);
  }
  .card .front,
  .card .back,
  .card .card-bg,
  .card .card-content {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    position: absolute;
  }
  .card .card-content {
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px rgba(0, 0, 0, 0.5);
    color: #b0b0b0;
    font-family: 'Droid Serif', serif;
    z-index: 4;
  }
  .card .card-content span {
    left: 0;
    top: 0;
    display: block;
    position: absolute;
    width: 100%;
    overflow: hidden;
    // color: #7a1a86;
    color: #e9e9e9;
    padding-left: 2px;
    white-space: nowrap;
  }
  .card .card-content span + span {
    // color: #a545b1;
    color: #969696;
    height: 7px;
    overflow: hidden;
  }
  .card .card-content strong {
    font-weight: normal;
  }
  .card .card-content em {
    text-transform: uppercase;
    position: absolute;
    font-style: normal;
    font-size: 9px !important;
    text-shadow: none;
    font-family: Open sans, sans-serif;
    color: rgba(255, 255, 255, 0.6);
  }
  .card .card-content .glow {
    animation: glow .5s;
  }
  .card .front,
  .card .back {
    backface-visibility: hidden;
    box-shadow: 0 4px 8px rgba(10, 10, 10, 0.25);
    border-radius: 16px;
  }
  .card .front {
    z-index: 2;
    transform: rotateY(0deg);
  }
  .card .back {
    z-index: 1;
    transform: rotateY(180deg);
  }
  .card .back .card-content {
    opacity: .7;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.5), 1px 1px 0px rgba(255, 255, 255, 0.3);
    transform: rotateY(180deg);
  }
  .card .back .card-content span + span {
    color: transparent;
  }
  .card .ccv {
    position: absolute;
    right: 15px;
    height: 20px;
    width: 30px;
    top: 52px;
    font-size: 14px;
  }
  .card .ccv strong {
    font-weight: normal;
    font-style: italic;
  }
  .card .ccv em {
    position: absolute;
    white-space: nowrap;
    font-size: 8px;
    left: -60px;
  }
  .card .credit-card-type {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 50px;
    height: 30px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    border-width: 2px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .card .credit-card-type.amex {
    background-image: url(../../../assets/icon/amex.svg);
    // background-color: #fff;
  }
  .card .credit-card-type.visa {
    background-image: url(../../../assets/icon/visa.svg);
    // background-color: #fff;
  }
  .card .credit-card-type.mastercard {
    background-image: url(../../../assets/icon/mastercard.svg);
    // background-color: #fff;
  }
  .card .card-number {
    position: absolute;
    width: 240px;
    top: 100px;
    left: 30px;
    font-size: 21px;
    height: 21px;
    font-family: courier;
    text-align: justify;
  }
  .card .card-holder {
    text-transform: uppercase;
    position: absolute;
    width: 240px;
    top: 160px;
    left: 20px;
    font-size: 14px;
    font-weight: 100;
    height: 30px;
  }
  .card .card-holder em {
    top: -16px;
  }
  .card .card-holder span {
    letter-spacing: 1px;
  }
  .card .card-holder span + span {
    height: 4px;
  }
  .card .validuntil {
    font-family: courier;
    position: absolute;
    top: 128px;
    left: 150px;
    font-size: 16px;
    height: 16px;
    width: 120px;
    white-space: nowrap;
    font-family: courier;
  }
  .card .validuntil em {
    top: 3px;
    left: -36px;
  }
  .card .validuntil .e-month,
  .card .validuntil .e-divider,
  .card .validuntil .e-year {
    letter-spacing: 1px;
    display: inline-block;
    position: relative;
    margin: 0 1px;
  }
  .card .validuntil .e-month span,
  .card .validuntil .e-divider span,
  .card .validuntil .e-year span {
    position: relative;
  }
  .card .validuntil .e-month span + span,
  .card .validuntil .e-divider span + span,
  .card .validuntil .e-year span + span {
    position: absolute;
    height: 5px;
  }
  
  .card-bg img {
    border-radius: 12px;
  }