<ion-header>
  <ion-toolbar class="gradient-header" color="app">
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" defaultHref="/directions"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end">Agregar direcciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <h3>Agregar dirección</h3>
      </ion-col>
    </ion-row>
    <ion-row class="btnmap">
      <div #Map class="map"></div>
    </ion-row><br><br>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input [(ngModel)]="direccion"></ion-input>
    </ion-item><br>
    <ion-item>
      <ion-label position="stacked">Dirección</ion-label>
      <ion-textarea [(ngModel)]="otrasenas"></ion-textarea>
    </ion-item><br>
    <ion-item>
      <ion-label>Teléfono</ion-label>
      <ion-input maxlength="8" pattern="tel" [(ngModel)]="phone"></ion-input>
    </ion-item><br>
    <ion-button class="btnapp" color="btnapp" size="block" (click)="regDireccion()" id="regDir">
      Agregar
    </ion-button>
  </ion-grid>
  <!-- <div #Map class="map"></div> -->
</ion-content>
