<ion-header>
  <ion-toolbar class="gradient-header" color="app">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="settings" title="Perfil"></ion-back-button>
      </ion-buttons>
      <ion-title slot="end">Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <br><br>
    <h3>Pipe App</h3>
    <br><br>
    <p class="ion-text-wrap ion-padding">
        Pipe es una aplicación desarrollada por Pipe ®, una empresa costarricense especializada en el desarrollo de aplicaciones móviles.
    </p>
    <br><br><br>
    <label class="ion-text-center vtext">V 1.0.0</label>
</ion-content>
