<ion-header>
  <ion-toolbar class="gradient-header" color="app">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../../assets/icon/menuicon.svg" style="width: 80%; margin: 0 auto">
      </ion-menu-button>
    </ion-buttons>
    <ion-title [routerLink]="['/menu']">
      Appexpress
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col align="center">
      <ion-badge [routerLink]="['/menu']" style="font-size: 14px; font-weight: 400; padding: 2%;" color="light">Seguir comprando</ion-badge>
    </ion-col>
  </ion-row><br>
  <ion-grid style="padding: 0 !important;">
    <ion-list id="lordenes" align-items-center style="padding: 0 !important;">
      <section *ngFor="let item of listaOrdenes" style="padding: 0 !important;">
        <ion-item-sliding style="padding: 0 !important;">
          <ion-item style="padding: 0 !important;">
            <ion-col size="3" align-items-center>
              <ion-img [src]="item[3]" alt="Prod" style="margin: auto 0 !important; width: 80%;"></ion-img>
            </ion-col>
            <ion-col size="4" align-items-center>
              <ion-label>{{ item[1] }}</ion-label>
              <ion-label style="display: inline-block; margin-top: -0.5em; color: #000; font-weight: 500; font-size: 0.9em;">₡ {{ item[6] }}</ion-label>
            </ion-col>
            <ion-col size="4">
              <div class="quantity-selector">
                <div class="product-minus-button quantity-button" (click)="restoCant( item[0] )"><ion-icon class="iconcant" name="remove-outline"></ion-icon></div>
                <input type="number" class="quantity-selector-field" id="cant{{ item[0] }}" value="{{ item[4] }}" data-max="2" #cant disabled>
                <div class="product-plus-button quantity-button" (click)="plusCant( item[0] )"><ion-icon class="iconcant" name="add-outline"></ion-icon></div>
              </div>
            </ion-col>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="eliminarOrden( item[0] )">
              <ion-icon style="font-size: 18px" class="ion-padding" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <br>
      </section>
    </ion-list>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid class="ion-padding">
    <ion-row style="background: rgb(2,0,36); background: linear-gradient(90deg, rgba(30,179,223,1) 0%, rgba(47,8,73,1) 80%, rgba(2,0,36,1) 100%); border-radius: 0.5em;" id="ordenar" [routerLink]="routerLink">
      <ion-col size="4" style="padding: 1% !important" align="center">
        <p style="color: white; font-weight: 500;">2</p>
      </ion-col>
      <ion-col size="4" style="padding: 1% !important" align="center">
        <p style="color: white; font-weight: 500;">ORDENAR</p>
      </ion-col>
      <ion-col size="4" style="padding: 1% !important" align="center">
        <p style="color: white; font-weight: 500;">₡ <span id="tot">{{ totalOrder }}</span></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="btnempty" align="center" (click)="vaciarCarrito()"> Vaciar canasta </div>
    </ion-row>
  </ion-grid>
</ion-footer>