.app {
    background-color: var(--ion-color-insideapp) !important;
    color: #F8F8F8 !important;
}

.btnapp{
    background: var(--ion-color-btnapp) !important;
    color: #f8f8f8;
}

.btnempty {
    margin: 0px 25% 0px 25%;
    padding: 2.5% 0% 0% 0%;
    color: #181818;
    width: 50%;
}

.sc-ion-input-md-h{
    background: white;
}

ion-avatar ion-img, ion-avatar img{
    margin-top: -5px !important;
}

.text-large {
    font-size: 30px;
    text-decoration: none;
    transition: 0.5 ease;
}

// **************************+
.quantity-selector {
    clear: both;
    visibility: visible;
    display: block;
    width: 100%;
  }
  .product-minus-button,
  .product-plus-button {
    padding: 0;
    margin-top: 5px;
    height: 30px;
    width: 30px;
    text-align: center;
    cursor: pointer;
    float: left;
    font-size: 20px;
    background: #e5e5e5;
    border-radius: 50%;
  }
  .quantity-selector input {
    max-width: 70px;
    background: transparent;
    font-size: 1em;
    position: relative;
    z-index: 1;
    margin: -5px -1px;
    float: left;
    display: block;
    width: 41%;
    text-align: center;
    height: 45px;
    border: none;
  }
 .iconcant {
     margin-top: 4px;
 }